






/* Header */
.header {
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    padding: 20px
    background-color: white;
    width: 100%;
   
    
}
.logo {

    text-align: center;
    padding: 20px;
    background-color: white;
    color: rgb(40, 40, 170);
}


.menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(40, 40, 170);
    padding: 15px;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00bcd4;
}





/* Sections */
.sections {
    margin-top: 10px;
    padding: 100px;  /* valor deve ser igual à altura do header */
   
   
}
 .hero {
    height: 100vh; /* ocupa a tela toda */
    background-image: url("https://www.contabeis.com.br/assets/img/news/conheca-as-vantagens-da-contabilidade-consultiva.png");
    background-size: cover;      /* cobre toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}



/* Serviços em cards */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #f7f9fc;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d4ddea;
}


/* Rodapé */
footer {
    background: #043263;
    color: white;
    text-align: center;
    padding: 200px;
}
