



/* Header */
header {
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px
    marginleft
   
    
}


.logo {
    margin-left: 10px;
    height: 60px;
    width: auto;
}
.logo{

    position: absolute;
    top: 10px;
    left: 20px;
}

.infos{
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px


}

header h1 {
    margin-right: 800px;
    color: rgb(79, 79, 161);
}















/* Sections */
section {
    margin-top: 100px;
    padding: 30px;  /* valor deve ser igual à altura do header */
    background-color: rgb(255, 255, 255);
   
}
.hero {
 background-image: url("banner.jpg") ;
}







/* Serviços em cards */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #f7f9fc;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d4ddea;
}

/* Rodapé */
footer {
    background: #043263;
    color: white;
    text-align: center;
    padding: 200px;
}
